<% include ./partials/header %>



<div class='container'>
<header class="jumbotron">
    <div class='container'>
		<h1>Login</h1>
		<form action="/login" method="post">
		    <input name = 'username' type='text' placeholder="username">
		    <input name = 'password' type='password' placeholder="password">
		    <input type='submit' value="Login">
		</form>
    </div>
</header>
</div>


<% include ./partials/footer %>